extends ../layout

block content

	h1 Books
	p
		a.button(href='new_book.html') Create New Book
	p
		| Filters 
		a(href='all_books.html') All 
		||
		a(href='overdue_books.html') Overdue 
		||  
		a(href='checked_books.html') Checked Out

	if model[index].Loans
		include all_overdue
	else
		include all_default