extends ../layout

block content

	h1 Books
	p
		a.button(href='new_book.html') Create New Book
	p
		| Filters 
		a(href='all_books.html') All 
		||
		a(href='/books/all?filter=overdue') Overdue 
		||  
		a(href='/books/all?filter=checkedout') Checked Out

	form(method='POST' action='/books')
		input(type='text' name='field')
		input(type='text' name='field_name')
		input(type='text' name='field_type')
		input(type='submit' value='Submit')

	include all_default

	h2 Pagination

	- var n = 1;
	ul
		while n <= pagination
			if (n == current)
				li: a(href=`/books/all/${n}` class='active') Page #{n}
			else
				li: a(href=`/books/all/${n}`) Page #{n}
			- n++    