extends ../layout

block content

	h1 Books
	p
		a.button(href='new_book.html') Create New Book
	p
		| Filters 
		a(href='all_books.html') All 
		||
		a(href='overdue_books.html') Overdue 
		||  
		a(href='checked_books.html') Checked Out

	include all_default

	h2 Pagination

	- var n = 1;
	ul
		while n <= pagination
			li: a(href=`/books/all/${n}`) Page #{n}
			- n++    