div.search-header Search books by a category:
form(method='POST' action='/books' class='search-fields')
		select(name='search_column' style='height: 38px')
			option(value='title') Book Title
			option(value='author') Book Author
			option(value='genre') Book Genre
		input(type='text' name='search_query')
		input(type='submit' value='Submit')