form(method='POST' action='/books')
		select(name='search_column')
			option(value='title') Book Title
			option(value='author') Book Author
			option(value='genre') Book Genre
		input(type='text' name='search_query')
		input(type='submit' value='Submit')