h1= title

form(method='post', action='/')
    div
        input(type='text', name='title')
    div        
        input(type='text', name='author')
    div
        input(type='text', name='genre')
    div        
        input(type='submit')