doctype html
html
	head
		title Library Manager
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat')
	include nav
	body
		block content