p
	a.button(href='/loans/create') Create New Loan
	p
		| Filters 
		a(href='/loans/all/') All 
		|| 
		a(href='/loans/all?filter=overdue') Overdue 
		||  
		a(href='/loans/all?filter=checkedout') Checked Out